:root {
  --main-color: #facd8a;
  --main-background:  #171717;
  --main-txtbackground:  #111111;
  --main-p: rgb(200 200 200 / 93%);
}
* {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 ,h2 ,h3 ,h4,h5 ,h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}p{
  font-family: 'Playfair Display', serif;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color:var(--main-background);
}
.option-box {
  position: fixed;
  top: 125px;
  right: -200px;
  z-index: 1000;
  background-color: rgba(2, 2, 2, 0.537);
  min-height: 200px;
  width: 200px;
  transition: 0.3s;
  opacity: 90%;
}
.option-box.open {
  right: 0px;
}
.option-box .color-option {
  float: left;
  color: var(--main-color);
  padding: 20px;
  border-radius: 15px;
}

.option-box .color-option ul {
  display: inline-block;
  list-style: none;
  text-align: center;
}

.option-box .color-option ul li {
  border-radius: 50%;
  display: inline-block;
  padding: 0;
  width: 20px;
  height: 20px;
  opacity: 0.5;
}
.option-box .color-option ul li.active {
  opacity: 1;
}
.option-box .color-option ul li:first-child {
  background-color: #facd8a;
}
.option-box .colors-list li:nth-child(2) {
  background-color: #ff6868;
}
.option-box .colors-list li:nth-child(3) {
  background-color: #2cc7cf;
}
.option-box .colors-list li:nth-child(4) {
  background-color: #EA80FC;
}
.option-box .color-option button
{
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px ;
}
.option-box .color-option button.active
{
background-color: var(--main-color);
}
.option-box .the-gear {
  padding: 5px;
  z-index: 99999;
  position: absolute;
  top: 0px;
  left: -42px;
  background-color: rgba(2, 2, 2, 0.537);
  color:  var(--main-color);
}
.option-box .the-gear .fa-moon {
  top: 44px;
  position: absolute;
  left: 0px;
  font-size: 27px;
  background-color: rgba(2, 2, 2, 0.537);
  padding: 8px;
}
.option-box .colors-list li.active {
  border-color: #fff;
}

/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  z-index: 1000;
}
.nav-bullets.hide
{
  display: none;
}
.nav-bullets .bullet {
  width: 20px;
  height: 20px;

  margin: 15px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.nav-bullets .bullet:hover .bullet-text {
  display: block;
}
.nav-bullets .bullet .bullet-text {
  background-color: var(--main-color);
  width: 125px;
  color:var(--main-background);
  padding: 2px 6px;
  position: absolute;
  left: 40px;
  top: -2px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
}
.nav-bullets .bullet a {
  background-color: rgba(2, 2, 2, 0.1);
  border-radius: 50%;
  text-align: center;
  border: 1px solid var(--main-color);
}
.nav-bullets .bullet a:hover i {
  color: var(--main-background);
}
.nav-bullets .bullet a:hover {
  background-color: var(--main-color);
}
.nav-bullets .bullet i {
  color: var(--main-color);

  font-size: 14px;
  margin: 0px;

  height: 25px;
  width: 25px;
}

.nav-bullets .bullet .bullet-text:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent var(--main-color) transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -20px;
  top: 50%;
  transform: translateY(-50%);
}
/* End Nav Bullets */

/* header */
.landing-page {
  min-height: 100vh;
  background-image: url("../images/slider/0.jpg");
  background-size: cover;
  position: relative;
}
.landing-page .overlay {
  background-color: #22222261;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  top: 0px;
  left: 0px;
}
.header-area {
  z-index: 2;
  color: #fff;
  position: relative;
  display: flex;
}
.header-area .navbar-brand {
  padding: 15px 7px 5px 15px;
}
.navbar {
  background-color: rgba(2, 2, 2, 0.537);
}
.header-area .container .navbar-nav .nav-link,
.header-area .container .navbar-nav .nav-link:active {
  margin-left: 10px;
  color: var(--main-color);
}
.header-area .container .navbar-nav a:hover {
  color: #fff;
}
.header-area .container {
  margin-bottom: 10px;
}
.landing-page .header-area .container .row h1 {
  height: 100vh;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 65px;
  margin-bottom: 0px;
}
@media(max-width: 576px){
.landing-page .header-area .container .row h1 {
  font-size: 35px;
}
}
/* header */

/* <!-- case-study --> */
.case_study {
  background-color: var(--main-background);
  padding-top: 60px;
  padding-bottom: 80px;
}
.case_study .container-fluid .container h1 {
  color: var(--main-color);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;
  font-size: 55px;
}
.case_study .container-fluid .container .row {
  padding-top: 60px;
  padding-bottom: 80px;

}
.case_study .container-fluid .container .row .content h4 {
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 30px;
  margin-top: 30px;
}
.case_study .container-fluid .container .row .content p {
  font-size: 16px;
  color: var(--main-p);
}
.case_study .container-fluid .container .row .content button {
  color:var(--main-background);
  background-color:  var(--main-color);
  padding: 12px 30px 12px 30px;
  font-size: 18px;
}
.case_study .container-fluid .container .row .content button:hover {
  background-color: #fff;
}
.case_study .container-fluid .container .row .img-content {
  overflow: hidden;
}

/* <!-- our-services --> */

.our-services {
  margin-top: 80px;
}

.our-services .container h1 {
  font-size: 3em;
  margin: 0.67em 0;
  text-align: center;
  padding-bottom: 27px;
  color: var(--main-color);
  margin-top: 40px;
  margin-bottom: 80px;
  position: relative;
}

.our-services .containerh1::after {
  content: "";
  height: 2px;
  width: 120px;
  background: var(--main-color);
  left: calc(50% - 50px);
  position: absolute;
  bottom: 0;
}

.our-services .container .row .service-block {
  position: relative;
  text-align: center;
  padding: 0 10px 26px;
  margin-bottom: 26px;
}
.our-services .container .row .service-block .inner-box {
  position: relative;
  text-align: center;
  margin-top: 70px;
}
.our-services .container .row .service-block .inner-box:hover {
  background-color:  var(--main-color);
}
.our-services .container .row .service-block .inner-box .icon-outer {
  display: inline-block;
  position: relative;
  text-align: center;
}

.our-services .container .row .service-block .inner-box .icon-outer .icon-box {
  position: relative;
  text-align: center;
  width: 140px;
  height: 140px;
  background-color: var(--main-txtbackground);
  border-radius: 50%;
  line-height: 140px;
  top: -70px; 
}
.our-services
  .container
  .row
  .service-block
  .inner-box
  .icon-outer
  .icon-box
  img {
  filter: invert(100%);
}

.our-services .container .row .service-block .block-text {
  font-size: 25px;
  text-align: center;
  margin: 30px 35px;
  padding-bottom: 30px;
  position: relative;
}

.our-services .container .row .service-block .block-text h3 {
  color: var(--main-color);
}
.our-services .container .row .service-block .block-text p {
  color:var(--main-p);
  line-height: 1.7;
  text-align: center;
  font-size: 15px;
}
.our-services .container .row .service-block:hover .icon-outer .icon-box img {
  filter: invert(0);
}
.our-services .container .row .service-block:hover .icon-outer .icon-box {
  background-color: var(--main-color);
  border: var(--main-background) 15px solid;
  line-height: 110px;
}
.our-services .container .row .service-block:hover .inner-box {
  background-color:  var(--main-color);
}
.our-services .container .row .service-block:hover .block-text h3,
.our-services .container .row .service-block:hover .block-text p {
  color: var(--main-background);
}
.our-services .container .row .service-block:hover .block-text h3::after {
  background-color: var(--main-background);
}
.our-services .container .row .service-block .icon {
  background-color: var(--main-txtbackground);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-top: -20px;
}

.our-services .container .row .service-block .block-text i {
  font-size: 40px;
  color: white;
  margin-top: -20px;
  background-color: var(--main-background);
  border-radius: 50%;
}

/* end our services */

/* start  our portifolio */

.our-portifolio .container .row ul {
  list-style: none;
  text-align: center;
  margin-bottom: 40px;
}
.our-portifolio .container .row ul li {
  display: inline-block;
  margin: 5px;
  background-color: var(--main-color);
  color: var(--main-txtbackground);
  font-size: 20px;
  padding: 6px 12px;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.7;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.our-portifolio .container .row ul li.active {
  background-color: #e6e6e6;
}
.our-portifolio .container .row {
  display: flex;
  flex-wrap: wrap;
}
.our-portifolio .container .row .item {
  overflow: hidden;
  position: relative;
  margin-bottom: 15px;
}

.our-portifolio .container .row .inner {
  position: relative;
  cursor: pointer;
}

.our-portifolio .container .row .item.hide {
  display: none;
}

.our-portifolio .container .row .inner img {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.our-portifolio .container .row .overlay {
  width: 0;
  left: -100%;
  min-height: 10px;
  background:  var(--main-color);
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  transition: 0.5s ease;
}

.our-portifolio .container .row .inner:hover .overlay {
  left: 0;
  width: 100%;
}
.our-portifolio .container .row .inner .caption {
  position: relative;

  margin-top: 20px;
  margin-left: 10px;
}
.our-portifolio .container .row .inner .caption p {
  font-size: 20px;
}

.portfolio-gallery {
  flex: 0 0 100%;
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-gallery .item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  position: relative;
  padding: 8px;
}
.portfolio-gallery .item img {
  width: 100%;
  display: block;
}

.our-portifolio .container .overlay {
  width: 0;
  left: -100%;
  min-height: 10px;
  background: var(--main-color);
    opacity: 0.8;
  position: absolute;
  bottom: 0;
  transition: 0.5s ease;
}

.our-portifolio .container .inner:hover .overlay {
  left: 0;
  width: 100%;
}
.our-portifolio .container .caption {
  position: relative;

  margin-top: 20px;
  margin-left: 10px;
}
.our-portifolio .container .caption p {
  font-size: 20px;
  
}

@media (max-width: 900px) {
  .our-portifolio .portfolio-gallery .item {
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    padding: 8px;
  }
}
@media (max-width: 766px) {
  .our-portifolio .portfolio-gallery .item {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/* end our portifolio */

/* start Our-Specialized-Team */

.Our-Specialized-Team {
  margin-top: 100px;
}

.Our-Specialized-Team h1 {
  font-size: 3em;
  margin: 0.67em 0;
  text-align: center;
  padding-bottom: 27px;
  color:var(--main-color);
  margin-top: 40px;
  margin-bottom: 80px;

  position: relative;
}
.Our-Specialized-Team h1::after {
  content: "";
  height: 2px;
  width: 120px;
  background:var(--main-color);
  left: calc(50% - 50px);
  position: absolute;
  bottom: 0;
}
.Our-Specialized-Team .row .image-box {
  position: relative;
  cursor: pointer;
  height: 100%;
  width: 100%;
}
.Our-Specialized-Team .row .col-lg-3,
.Our-Specialized-Team .row .col-md-4,
.Our-Specialized-Team .row .col-sm-6 {
  padding: 0%;
}
.Our-Specialized-Team .row .image-box img {
  overflow: hidden;
  width: 100%;
      height: 100%;
}
.Our-Specialized-Team .row .image-box .overlay {
  width: 100%;
  height: 0px;
  background: var(--main-color);
  opacity: .8;
  position: absolute;
  bottom: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.9s ease;
}
.Our-Specialized-Team .row .image-box:hover .overlay {
  height: 100%;
}

.Our-Specialized-Team .row .image-box .content {
  position: relative;
  top: 0%;
  left: 0%;
  margin-top: 50px;
}
.Our-Specialized-Team .row .image-box .content h4 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin: 0;
  font-weight: 500;
  color: rgba(18, 18, 18, 0.8);
  margin-top: 15px;
  margin-bottom: 5px;
  text-align: center;
}
.Our-Specialized-Team .row .image-box .content span {
  color: rgba(18, 18, 18, 0.8);
  margin-bottom: 20px;
}
.Our-Specialized-Team .row .image-box .content p {
  color:#171717;
  line-height: 1.7;
  font-size: 12px;
}
.Our-Specialized-Team .row .image-box ul {
  list-style: none;
  margin: 0px;
  padding: 0%;
}
.Our-Specialized-Team .row .image-box ul li {
  display: inline-block;
  margin: auto;
}
.Our-Specialized-Team .row .image-box i {
  color: #121212;
  margin: 7px;
  font-size: 22px;
  text-align: center;
}
.Our-Specialized-Team .row .image-box ul li a {
  color: #121212;
  font-size: 22px;
}
/* end Our-Specialized-Team */

/* our_clints_opinion */

.our_clints_opinion {
  background-image: url("../images/slider/0.jpg");
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  /* filter: blur(4px); */
}
.our_clints_opinion h1,
.our-portifolio h1 {
  font-size: 3em;
  margin: 0.67em 0;
  text-align: center;
  padding-bottom: 27px;
  color: var(--main-color);
  margin-top: 40px;
  padding-top: 76px;
  position: relative;
}
.our_clints_opinion h1::after,
.our-portifolio h1::after {
  content: "";
  height: 2px;
  width: 120px;
  background: var(--main-color);
  left: calc(50% - 50px);
  position: absolute;
  bottom: 0;
}
.our_clints_opinion .container .block {
  text-align: center;
  align-items: center;
  margin: auto;
  max-width: 850px;
  background-color: rgba(2, 2, 2, 0.714);
  margin-bottom: 100px;
}

.our_clints_opinion .container .carousel-inner .content {
  max-width: 750px;
  text-align: center;
  margin: auto;
}
.our_clints_opinion .container .carousel-inner .content p {
  margin-top: 60px;
  margin-bottom: 36px;
  color: #fff;
  line-height: 1.7;
}
.our_clints_opinion .container .carousel-inner .author h3 {
  color: var(--main-color);
}
.our_clints_opinion .container .carousel-inner .author p {
  color: #fff;
  line-height: 1.7;
}
.our_clints_opinion .container .carousel-inner .author img {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}
.our_clints_opinion
  .container
  .carousel-dark
  .carousel-indicators
  [data-bs-target] {
  background-color:var(--main-color);
}

/* start time line */

.time_line_section {
  padding-top: 80px;
  padding-bottom: 80px;
}
.time_line_section .time_line_content {
  position: relative;
  overflow: hidden;
}
.time_line_section .time_line_content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0px;
}
.time_line_section .time_line_content .year {
  margin: auto;
  width: 80px;
  position: relative;
  z-index: 2;
  background-color: var(--main-color);
  border-radius: 10px;
}

.time_line_section .icon-outer {
  margin: 20px auto;
  width: 100px;
  position: relative;
  z-index: 2;
}

.time_line_section .icon-outer .icon-box {
  position: relative;
  text-align: center;
  width: 100px;
  height: 100px;

  background-color: var(--main-color);
  border-radius: 50%;
  line-height: 100px;
}

.time_line_section .time_line_content .left,
.time_line_section .time_line_content .right {
  width: calc(50% - 55px);
  margin-bottom: 50px;
  position: relative;
}
/*responsive*/

@media(max-width: 792px){
.time_line_section .time_line_content .left,
.time_line_section .time_line_content .right {
  width: calc(100% - 90px);
  margin-bottom: 50px;
  position: relative;
}

}
@media(max-width: 567px){
.time_line_section .time_line_content .left .left_content p,
.time_line_section .time_line_content .right .right_content p {
  color: var(--main-p);
  line-height: 1.7;
  text-align: center;
  font-size: 12px;
}
}
.time_line_section .time_line_content .left {
  float: left;
}
.time_line_section .time_line_content .right {
  float: right;
}
.time_line_section .time_line_content .left::before {
  content: "2021";
  color: var(--main-txtbackground);
  width: 50px;
  height: 20px;
  margin: auto;
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  border-radius: 5px;
  right: -80px;
  top: 25px;
  position: absolute;
  line-height: 15px;
}
.time_line_section .time_line_content .right::before {
  content: "2022";
  color: var(--main-txtbackground);
  width: 50px;
  height: 20px;
  margin: auto;
  background-color: var(--main-color);
  border: 3px solid var(--main-color);
  border-radius: 5px;
  left: -80px;
  top: 25px;
  position: absolute;
  line-height: 15px;
}
.time_line_section .time_line_content .left .left_content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-txtbackground);
  height: 0;
  width: 0;
  position: absolute;
  right: -30px;
  top: 25px;
}
.time_line_section .time_line_content .right .right_content::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent var(--main-txtbackground) transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -30px;
  top: 25px;
}
.time_line_section .time_line_content .left .left_content {
  margin-right: -10px;
}
.time_line_section .time_line_content .right .right_content {
  margin-left: -10px;
}
.time_line_section .time_line_content .left .left_content,
.time_line_section .time_line_content .right .right_content {
  padding: 20px;
  background-color: var(--main-txtbackground);
  border-radius: 10px;
  text-align: center;
}

.time_line_section .time_line_content .left .left_content h3,
.time_line_section .time_line_content .right .right_content h3 {
  color: var(--main-color);
}
.time_line_section .time_line_content .left .left_content p,
.time_line_section .time_line_content .right .right_content p {
  color: var(--main-p);
  line-height: 1.7;
  text-align: center;
  font-size: 15px;
}

.clearfix {
  clear: both;
}

/* clint-logoes */
.clint-logoes {
  background-image: url("../images/slider/0.jpg");
  /* min-height: 600px; */
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 100px;
  /* filter: blur(4px); */
}
.clint-logoes .section {
  padding-top: 110px;
}
.clint-logoes .section .row .block {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgba(2, 2, 2, 0.814);
}
.clint-logoes .section .row .block img {
  padding-bottom: 20px;
  padding-top: 20px;
}
.clint-logoes .section .row .block:hover {
  -webkit-filter: invert(0.5);
  filter: invert(1);
  color: #171717;
}

/* end */

footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

footer .container .footer-about h3,
footer .container .footer-address h3,
footer .container .footer-social-media h3 {
  color:var(--main-color);
  margin-bottom: 40px;
}

footer .container .footer-about p,
footer .container .footer-address p {
  color: var(--main-p);
  line-height: 1.7;
}
footer .container .footer-address a {
  color: var(--main-color);
}
footer .container .footer-social-media ul {
  list-style: none;
}
footer .container .footer-social-media ul li {
  display: inline-block;
  margin: auto;
}
footer .container .footer-social-media ul i {
color: var(--main-p);
  margin: 10px;
  font-size: 25px;
  text-align: center;
}
footer .container .footer-social-media ul li a {
color: var(--main-p);
  font-size: 22px;
}
footer .container .footer-social-media ul i:hover {
  color:var(--main-color);
}